.app {
  width: 100%;
  height: 100%;
  overflow: hidden;

  --mui-container-bg: #f0f2f5;
  --mui-top-bg: #fff;
}

html.dark {
  .app {
    --mui-container-bg: #202121;
  }
}

a {
  text-decoration: none;
  color: #333;
}

// 修改菜单弹出层样式
.el-menu--popup {
  background: transparent !important;
  .el-menu-item {
    background-color: #20222a;
    color: hsla(0,0%,100%,.7);
    &.is-active {
      background-color: rgba(0,0,0,.8);
      color: #fff;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4px;
        background-color: #409eff;
      }
    }
    &:hover {
      color: #fff;
    }
  }
}

// 手机样式
.mobile {
  .app {
    min-height: 100%;
    overflow: unset;
  }
  // 弹窗
  .el-dialog {
    max-width: 94%;
  }
  // 搜索区域
  .m-search-box {
    .el-col {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
